*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    padding: 20px 70px 20px 32px;
}

.menu-button{
    width: 20px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background-color: #fff;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}

.menu-line{
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 20px;
    background: #1F2022;
}

.logo{
    margin-right: 59px;
}

.input-group{
    max-width: 830px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EBEBEB;
    border-radius: 22px;    
    padding: 12px 17px 12px 23px;
}

.input-search{
    background-color: transparent;
    border: none;
}

.button-search{
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icon-search{
    fill: #000;
}

.icons-link{
    text-decoration: none;
    opacity: .24;
}

.icons-link:hover{
    opacity: .7;
}

.icons-link:not(:last-child){
    margin-right: 50px;
}

.user{
    margin-left: 45px;
}

.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}